<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="shortcut icon" href="/assets/icon.jpg">
    <title>Baatcheet - Home</title>
</head>
<body>
    <nav>
        <div>
            <h4 class="nav-head">Baatcheet</h4>
        </div>
        <div class="navlinks">
            <a href="#about">
                <div class="nav-item">About</div>
            </a>
            <a href="/login" id="button">
                <div class="nav-item">Login</div>
            </a>
        </div>
    </nav>

    <div class="bg">
        <div class="main-text">
            <h1 class="typewrite" data-period="200" data-type='[ "Depression?", "Anxiety?","Frustration?", "Baatcheet." ]'>
                <span class="wrap"></span>
        </div>
    </div>

    <div class="svg">
        <svg xmlns="http://www.w3.org/2000/svg" class="wave" viewBox="0 0 1440 320"><path fill="#FFFFFF" fill-opacity="1" d="M0,64L40,101.3C80,139,160,213,240,240C320,267,400,245,480,208C560,171,640,117,720,133.3C800,149,880,235,960,261.3C1040,288,1120,256,1200,229.3C1280,203,1360,181,1400,170.7L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
    </div>
    <div id="about">
        <div class="container-fluid mt-5 mb-5">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-12 text-center">
                            <iframe src="https://i-o-optimized-deployment-dbff9e.kb.us-west1.gcp.cloud.es.io:9243/goto/557fe5723b0fc50350585b3af403a64d" height="600" width="800"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row mt-2">
                        <div class="col-12 text-center">
                            <h2 class="about-head">About</h2>
                        </div>
                    </div>
                    <div class="row mb-5 mt-3">
                        <div class="col-12 text-center">
                            Baatcheet karlo yaar! <br>
                            Something is making you feel anxious? We are here. Something is causing you pain? We are here. Something is causing you depression? We are here.
                            We are ready to listen. We are there for you.
                            No Judgments, No questions, only someone to listen to you, to help you let go off the pain and stress.
                            Talk to our specialists, listen to songs, read memes and quotes and live your best life. <br>
                            #YOLO
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="/js/typewrite.js"></script>    
</body>
</html>