<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/verification.css">
    <title>Verify Email</title>
</head>
<body>
    <div class="container">
        <div class="col-5">
            <div class="main">
                <div class="row">
                    <div class="col-12 text-center mt-4">
                        <h1>Verify Email</h1>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-12 text-center">
                        <h6>
                            A verification email has been sent to your email: 
                            <br> 
                            <strong>vs301vs@gmail.com</strong>
                            <br>
                            <br>
                            Please verify to proceed further.
                        </h6>
                    </div>
                    <div class="col-2 mt-3">
                        <a href="/login" id="button">Next</a>
                    </div>
                </div>
             </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>