<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/assets/icon.jpg">
    <link rel="stylesheet" href="/css/voice.css">
    <title>Baatcheet - Chillzone</title>
</head>
<body>

    <nav>
        <div>
            <h4 class="nav-head">Baatcheet</h4>
        </div>
        <div class="navlinks">
            <a href="/">
                <div class="nav-item">Home</div>
            </a>
        </div>
    </nav>
    
    <div class="container">
        <div class="row mb-4">
            <div class="col-12 text-center">
                <h1>Chillzone</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6 left">
                <div class="row">
                    <div class="col-12">
                        <h2>
                            Commands
                        </h2>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-2">
                        <div class="command">
                            <h6 class="text-center">
                                memes
                            </h6>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="command">
                            <h6 class="text-center">
                                quotes
                            </h6>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="command">
                            <h6 class="text-center">
                                movies
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <a id="button">
                            Start Listening
                        </a>
                    </div>
                    <small class="mt-2">
                        Please start speaking 3 seconds after the button is presseed.
                    </small>
                </div>
                <div class="row mt-5">
                    <div class="col-6">
                        <input type="text" class="form-control" id="textbox">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <h6 id="instructions">
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-6 right mb-2">
                <div id="output">
                    
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="/js/voice.js"></script>
</body>
</html>