body{
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    background-color: black;
    color: white;
}

nav{
    width: 100%;
    padding: 10px 200px 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-head{
    margin-left: 5rem;
    margin-top: 0.3rem;
}

.navlinks{
    display: flex;
    list-style: none;
}

.navlinks a{
    margin-left: 2rem;
    text-decoration: none;
    color: white;
    padding: 0.4rem 1rem;
}

.container{
    margin-top: 10rem;
}

.left{
    padding-left: 5rem;
    padding-right: 0rem;
}

.command{
    padding-top: 0.35rem;
    border-radius: 20px;
    border: 2px solid white;
}

h1{
    font-weight: 800;
    color: white;
}

h2{
    color: white;
    font-weight: 800;
}

h6{
    color: white;
}

#button{
    width: fit-content;
    border-radius: 4px;
    padding: 0.4rem 1rem;
    background-color: white;
    color: black;
    border: 1px solid white;
    transition-duration: 400ms;
}

#button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

#output{
    width: 30rem;
    height: 20rem;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.quotes{
    font-weight: 200;
}

